@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'primeicons/primeicons.css';

:root {
  --color-dark-blue: #2C3E50;
  --color-gray: #4B4F54;
  --color-light-beige: #EAE0D5;
  --color-light-gray: #F5F5F5;
  --color-blue: #5c90b3;
  --color-black: #000;
  --color-white: #fff;

  --font-main: "Mona Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
}
