@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import 'primeicons/primeicons.css';

:root {
  --color-dark-blue: ;
  --color-gray: ;
  --color-light-beige: ;
  --color-light-gray: ;
  --color-blue: ;
  --color-black: #000;
  --color-white: #fff;

  --font-main: "Mona Sans", sans-serif;
  --font-secondary: "Inter", sans-serif;
}
