@import './base.css';

/*reset css */
* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
  text-decoration: none;
  }

  html, body{
    width: 100vw;
  }

  h2, h3, a{
    font-family: var(--font-main);
    color: var(--color-purple);
}

  h2{
    font-weight: 700;
    font-size: 1.5em;
  }

  p, li{
    font-family: var(--font-secondary);
    font-size: 0.8em;
    font-weight: 600;
  }

  .button{
    margin: 3px;
}

.pi {
  color: var(--color-purple);
}


